{% extends 'base.html'%} {% block head %}
<title>Home Page</title>
{% endblock %} {% block body %}
<br />
<h1>HOME PAGE</h1>
<br />
<div>
  <div class="bg-light p-5 rounded">
    <div class="col-sm-8 mx-auto">
      <h1>Hello Junta !!</h1>
      <p>
        Hello people! This is the design blog where we'll be share everything
        related to design. From Books to tutorials and a lot more. This is your
        oone stop solution for all the design related querries.
      </p>
      <p>
        Hope you'll join and make this community even stronger and bigger!
        TOGETHER we can bring a change :)
      </p>
    </div>
  </div>
</div>
{% endblock %}
